---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: content/articles
  label: Posts
  create: all
  match: "**/*"
- type: directory
  path: content/topics
  label: Topics
  create: all
  match: "**/*"
- type: directory
  path: content/authors
  label: Authors
  create: all
  match: "**/*"
- type: directory
  path: content/regions
  label: Regions
  create: all
  match: "**/*"
upload_dir: climatecascades
public_path: https://res.cloudinary.com/devy3xovo/image/upload/f_auto,q_auto,c_scale,w_auto:100,dpr_auto
front_matter_path: https://res.cloudinary.com/devy3xovo/image/upload/c_scale,w_auto:100,dpr_auto
use_front_matter_path: true
file_template: ":filename:"
build:
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run develop
